# Erlang version
erlang_version=23.0.3

# Elixir version
elixir_version=1.10.4

# Always rebuild from scratch on every deploy?
always_rebuild=true

# Create a release using `mix release`? (requires Elixir 1.9)
release=true

hook_compile="mix compile --force --warnings-as-errors"

# A command to run right after compiling the app
hook_post_compile="mix ecto.migrate"

# Set the path the app is run from
runtime_path=/app
